@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


/* Чистим отступы у всех элементов, которые стоят по умолчанию */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

header {
    background-color: lightgray;
    height: 50px;
    /* Фиксация шапки - панели с кнопками */
    /* https://youtu.be/kZ-xLBjQTJM?t=4645 */
    width: 100%;
    position: fixed;
    top: 0;
}

nav {
    height: inherit; /* 50px */
    /* https://youtu.be/kZ-xLBjQTJM?t=4806 */
    width: inherit;
    display: flex; /* позиционирования с помощью flex-боксов*/
    justify-content: center;
    align-items: center;
}

nav > a {
    text-decoration: none;
    color:black;
    font-size: 25px;
    padding: 0 30px;
    align-items: center;
}


.about_us {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin:  70px auto;
    font-size: 18px;
    line-height: 1.2;
    padding: 5px;
}

.about_us img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    object-position: top;
    padding: 5px;
}

.about_us-discription {
    display: flex-direction;
    /* flex-direction: column; */

}
.about_us-discription * {
    padding: 5px;
}

.about_me {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 5px auto;
    font-size: 19px;
    line-height: 1.2;

}


.my_projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}
.my_projects > * {
    text-align: center;
}

.microservices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}
.microservices > * {
    text-align: center;
}

.my_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts_block {
    max-width: 1000px;
    margin: 50px auto;
}

.posts_block h2 {
    text-align: center;
}

.posts_block-container > * {
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 16px;
    line-height: 1.5;
}

.posts_block img {
    width: 990px;
    /* height: 300px; */
    object-fit: cover;
    object-position: top;
}